* {
  margin: 0;
  padding: 0;
}

body {
 
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(251, 217, 217);
  height:100%;
  
}

:root{
  --text-color: white;
  --border-color:rgb(253, 203, 203);
  --bg-color:rgba(203, 161, 166, 0.726);
  --success-color:rgb(221, 151, 151);
}

a{
  text-decoration: none;
 
 
 
}

